# Trace-mode opcode latencies (based on A100)
-trace_opcode_latency_initiation_int 2,2
-trace_opcode_latency_initiation_sp 2,2
-trace_opcode_latency_initiation_dp 4,4
-trace_opcode_latency_initiation_sfu 20,8
-trace_opcode_latency_initiation_tensor 14,6

# Branch unit
-specialized_unit_1 1,4,4,4,4,BRA
-trace_opcode_latency_initiation_spec_op_1 4,4

# TEX unit
-specialized_unit_2 1,4,200,4,4,TEX
-trace_opcode_latency_initiation_spec_op_2 200,4

# Tensor unit
-specialized_unit_3 1,4,12,4,4,TENSOR
-trace_opcode_latency_initiation_spec_op_3 12,8

# UDP unit (Turing+)
-specialized_unit_4 1,4,4,4,4,UDP
-trace_opcode_latency_initiation_spec_op_4 4,1
